* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

#head {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

#meg::-webkit-scrollbar {
  display: none;
}

.chat {
  margin-right: 50%;
  margin-left: 0;
  border-radius: 5px;
  margin-top: 2px;
  padding: 3px;
  background-color: #007bff;
  color: white;
}
.d {
  margin-right: 50%;
  margin-left: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.d2 {
  margin-right: 0;
  margin-left: 50%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.c {
  margin-right: 0;
  margin-left: 50%;
  border-radius: 5px;
  padding: 3px;
  margin-top: 2px;
  background-color: #007bff;
  color: white;
}

.error {
  text-align: center;
}

#meg {
  display: flex;
  flex-direction: column-reverse;
  height: 300px;
  width: 300px;
  word-wrap: break-word;
  overflow: auto;
  scrollbar-width: none;
}

#h,
#m {
  float: right;
  padding-right: 3px;
}

form {
  margin-top: 15px;
  text-align: center;
}

li {
  list-style-type: none;
}

textarea {
  border-radius: 5px;
}

#title {
  font-family: "Lobster", cursive;
  font-size: xx-large;
}
#title2 {
  font-family: "Lobster", cursive;
  font-size: 45px;
}

h1,
h2 {
  text-align: center;
}

#table {
  display: flex;
  text-align: center;
  justify-content: center;
}

td,
th {
  border-bottom: 1px solid #ddd;
  padding: 15px;
}

.center {
  text-align: center;
}

.link:hover {
  text-decoration: none;
}

#icon {
  height: auto;
  width: 15px;
}

#profile {
  max-height: 200px;
  margin-bottom: 15px;
  box-shadow: 5px 5px 10px gray;
  border-radius: 5px;
}

.image {
  border: 1px solid lightgray;
  width: 300px;
  margin: 0 auto;
  padding: 2px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px grey;
}

#hobby {
  margin-bottom: 2px;
}

/* The side navigation menu */
.sidenav {
  height: 100vh; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: absolute; /* Stay in place */
  z-index: 1;
  top: 0; /* Stay at the top */
  left: 0;
  overflow: auto;
  scrollbar-width: none;
  background-color: #007bff;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  margin-top: 50px;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 5px;
  text-decoration: none;
  color: white;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: white;
  text-decoration: none;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 36px;
  margin-left: 50px;
}

@keyframes x {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}
.l {
  color: white;
  margin-left: 2px;
  font-weight: bold;
}

/* The element to apply the animation to */
#m2,
#c2 {
  animation-name: x;
  animation-duration: 0.5s;
}

@media screen and (max-width: 450px) {
  .sidenav {
    height: 230px;
  }
  .sidenav2 {
    height: 230px;
  }
}
